.previewWrapper {
  position: relative;
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.changeImageForm {
  display: flex;
}

.noImage {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noImage > p {
  font-size: xx-large;
}
