/* .labelButton is primarily used to let the label hide input fields with default English text -MV */
.labelButton {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--rust-red);
  color: white;
  background-color: black;
  border-radius: 4px;
  &.button:hover {
    background-color: white;
    color: black;
  }
}

.openNewsModalButton {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  color: unset !important;
  background-color: unset !important;
}
