.wrapper {
  min-width: 500px;
  min-height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  border-top: 0.5px solid var(--rust-red);
}

.newscarousel {
  min-height: 200px;
  width: 100%;
  display: flex;
  gap: 10px;
  overflow: scroll;
}

.article {
  height: auto;
  width: auto;
  background-color: var(--matte-black-bg);
  border: 2px solid var(--rust-red);
}

.editBtn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.addNewsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 1px;
  border: 1px solid hotpink; */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 31.25rem;
  margin: 0 auto;
  padding-left: 15px;
}
.input {
  height: 1.5rem;
  width: 300px;
}
