/* Media query breakpoints:
@media only screen and (min-width: 360px)
@media only screen and (min-width: 768px)
@media only screen and (min-width: 1024px)
@media only screen and (min-width: 1366px) */

.newsWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 32vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.p {
  color: black;
}

.individualNews {
  background-color: black;
  height: 30vh;
  flex: 0 0 auto;
  border: 0.25px #6c0e11 solid;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease-in-out;
}

.individualNews p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.individualNews:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 1rem #6c0e11);
  transform: scale(1.05);
  overflow: visible;
}

@media only screen and (min-width: 360px) {
  .individualNews {
    width: 80%;
    padding: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .individualNews {
    width: 50%;
    padding: 1.25rem;
  }
}
@media only screen and (min-width: 1024px) {
  .individualNews {
    width: 40%;
    padding: 1.5rem;
  }
}
@media only screen and (min-width: 1366px) {
  .individualNews {
    width: 30%;
    padding: 1.75rem;
  }
}
