.wrapper {
  padding: 10px;
  min-width: 300px;
  height: auto;
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
}

.form {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.input {
  height: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Had to make custom breakpoint for the editors to bw responsive */
@media only screen and (max-width: 1122px) {
  .wrapper {
    flex-direction: column;
  }
}
