/* Media query breakpoints:
@media only screen and (min-width: 360px)
@media only screen and (min-width: 768px)
@media only screen and (min-width: 1024px)
@media only screen and (min-width: 1366px) */

.newsModal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  text-align: center;
}

.newsModalContent {
  position: fixed;
  filter: drop-shadow(0 0 1rem #6c0e11);
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
}

@media only screen and (min-width: 360px) {
  .newsModalContent {
    width: 65vw;
    padding: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .newsModalContent {
    width: 50vw;
    padding: 1rem 3rem;
  }
}
.newsModalContent > p {
  margin-bottom: 1rem;
}
