/* Media query breakpoints:
@media only screen and (min-width: 360px){}
@media only screen and (min-width: 768px){}
@media only screen and (min-width: 1024px){}
@media only screen and (min-width: 1366px){} */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* The welcome video on start page --------------------> */
.videoContainer {
  width: 100%;
  position: relative;
  top: 0;
}

.videoContainer > video {
  width: 100%;
}
/* <---------------------------------------------------> */

.velcomeText {
  font-weight: 200;
}

/* News Section --------------------------------------> */

.newsSection {
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* News Section -------------------------------------->  */

/* About_US ------------------------------------------> */

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  border-bottom: 0.5px solid #6c0e11;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px;
}

.section:last-of-type {
  border: none;
}

/* About_US ------------------------------------------> */

/* Breakpoints --------------------------------------->*/

@media only screen and (min-width: 360px) {
  .main {
    padding: 12rem 0rem 2rem 0rem;
    min-height: 75vh;
  }
  .velcomeText {
    font-size: 21px;
  }

  .section {
    padding: 2rem 1rem 0.5rem 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    padding: 12rem 0rem 4rem 0rem;
  }
  .velcomeText {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1024px) {
  .main {
    padding: 16rem 0rem 6rem 0rem;
    min-height: 100vh;
  }
  .velcomeText {
    font-size: 48px;
  }

  .section {
    padding: 4rem 4rem 0.5rem 4rem;
  }
}

@media only screen and (min-width: 1366px) {
  .velcomeText {
    font-size: 54px;
  }
}

/* <-------------------------------------------------->*/
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
