.wrapper {
  padding: 10px;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  max-width: 300px;
}

.actionBtns {
  display: flex;
  gap: 10px;
}
