.calendarFrame {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 360px) {
  .calendarFrame {
    width: 95vw;
  }
}

@media only screen and (min-width: 564px) {
  .calendarFrame {
    width: 80vw;
  }
}
