.nav {
  position: absolute;
  top: 5vh;
  z-index: 1;
  width: 85vw;
  font-weight: 300;
  color: white;
  mix-blend-mode: difference;
}

.nav button {
  border: none;
  color: unset !important;
  background-color: unset !important;
}

@media only screen and (min-width: 360px) {
  .nav {
    font-size: 1rem;
  }
  .menu {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
  }
}

@media only screen and (min-width: 564px) {
  .menu {
    display: flex;
    justify-content: space-between;
  }

  .nav button {
    display: none;
  }

  .hamburgerMenu {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1024px) {
  .nav {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1366px) {
  .nav {
    font-size: 1.75rem;
  }
}
