.wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  gap: 1rem;
  border-top: 0.5px solid var(--rust-red);
}

@media only screen and (min-width: 1366px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
