.footerWrapper {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}

.socials {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logoContainer {
  position: relative;
  height: 10rem;
  width: 7.5rem;
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
}

.contactContainer {
  grid-column: 2/3;
}

.copyRightContainer {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.largeText {
  font-size: large;
}

@media only screen and (min-width: 360px) {
  .footerWrapper {
    padding: 5rem 1rem 0.5rem 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .footerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .socials {
    align-items: center;
  }

  .copyRightContainer {
    justify-content: center;
  }

  .logoContainer {
    margin: unset;
  }
}

@media only screen and (min-width: 360px) {
}
@media only screen and (min-width: 768px) {
  .logoContainer {
    height: 13rem;
    width: 10rem;
    justify-self: end;
  }
}
@media only screen and (min-width: 1024px) {
  .footerWrapper {
    padding: 8rem 4rem 0.5rem 4rem;
  }

  .logoContainer {
    height: 16rem;
    width: 13rem;
  }
}

@media only screen and (min-width: 1366px) {
  .logoContainer {
    height: 20rem;
    width: 16rem;
  }
}
