.wrapper {
  /* height: 650px; */
  /* width: 650px; */
  height: 100vh;
  width: 100%;
  background-color: var(--matte-black-bg);
  border: 1px solid var(--rust-red);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

/* @media only screen and (min-width: 360px) {
  .wrapper {
    height: 100vh;
    width: 100%;
  }
} */

@media only screen and (min-width: 768px) {
  .wrapper {
    height: 650px;
    width: 650px;
    position: fixed;
    top: 10%;
    left: 30%;
    border-radius: 20px;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1366px) {
}
