.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.instructorsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container h3 {
  margin-bottom: 10px;
}

.infoContainer {
  max-width: 300px;
}

@media only screen and (min-width: 768px) {
  .container:last-of-type {
    align-items: flex-end;
  }
  .container:last-of-type h3 {
    justify-content: left;
  }
}
